In [7]:
msg = "Hello World"
length = len(msg)
index = -1
for i in range(length):
    print(msg[index],end='')
    index -= 1
    pass

dlroW olleH

In [12]:
# A~Z까지 문자를 리스트에 할당하시오
letter_list = ['A','B']
print(letter_list)

['A', 'B']

In [14]:
ord('A')

65

In [15]:
chr(65)

'A'

In [18]:
letter_list = []
for i in range(97,97+26):
    letter_list.append(chr(i))
    pass

print(letter_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [17]:
#a~z
ord('a')

97

In [19]:
if -1:
    print("True")
else :
    print("False")

True

In [20]:
numbers = [i for i in range(10)]

In [21]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
import random as rnd

In [32]:
numbers = [ rnd.randrange(1,101) for i in range(10)]

In [33]:
numbers

[96, 40, 86, 9, 12, 72, 21, 3, 1, 14]

In [37]:
numbers.sort(reverse=True)

In [38]:
numbers

[96, 86, 72, 40, 21, 14, 12, 9, 3, 1]

In [39]:
a = [ rnd.randrange(1,101) for i in range(10)]

In [40]:
a

[69, 2, 9, 98, 88, 17, 2, 25, 25, 51]

In [41]:
result = sorted(a,reverse=True)
print(result)

[98, 88, 69, 51, 25, 25, 17, 9, 2, 2]

In [29]:
numbers

[72, 89, 91, 57, 12, 85, 44, 59, 17, 87]

In [31]:
result[0]

12

In [62]:
file = open('./data/Abc1115.csv','r')
lines = file.readlines()
file.close()

In [51]:
line = lines[0]

In [54]:
line[:-2]

'990001,addx,17,29,16,49,43,154,C,A,C'

In [63]:
for i in range(len(lines)):
    lines[i] = lines[i][:-2]
    pass

In [64]:
lines[0:10]

['990001,addx,17,29,16,49,43,154,C,A,C',
 '990002,stch,30,9,48,25,81,193,C,A,A',
 '990003,gali,93,60,6,84,36,279,A,C,A',
 '990004,miat,73,22,48,24,72,239,B,C,C',
 '990005,oran,33,38,59,58,28,216,C,B,A',
 '990006,sj24,27,65,54,77,33,256,B,A,A',
 '990007,kor2,33,85,98,60,66,342,A,B,A',
 '990008,vsky,41,5,99,14,67,226,C,A,C',
 '990009,kimd,74,4,1,33,53,165,B,C,A',
 '990010,blue,55,84,50,89,37,315,A,B,A']

In [65]:
temp = lines[0].split(",")
temp

['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C']

In [90]:
students = []
for line in lines:
    temp = line.split(",")
    students.append(temp.copy())
    pass

In [103]:
for student in students:
    for i in range(2,8):
        student[i] = int(student[i])
        pass
    pass

students[:5]

[['990001', 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 ['990002', 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A'],
 ['990003', 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'],
 ['990004', 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C'],
 ['990005', 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A']]

In [104]:
ans2 = 123
ans_file = open('./data/ans2.txt','w')
ans_file.write("{}\n".format(ans2))
ans_file.close()

In [105]:
quiz_2 = []
for student in students:
    if student[10]=='B':
        temp = student[2]+student[3]
        student.append(temp)
        quiz_2.append(student)
        pass
    pass

In [106]:
len(quiz_2)

300

In [108]:
quiz_2[0:2]

[['990021', 'equi', 13, 95, 56, 93, 88, 345, 'B', 'C', 'B', 108],
 ['990023', 'tess', 86, 71, 87, 6, 15, 265, 'B', 'C', 'B', 157]]

In [114]:
max = 0
for student in quiz_2:
    if max < student[11]:
        max = student[11]
        pass
    pass

print(max)
ans_file = open('./data/ans2.txt','w')
ans_file.write("{}\n".format(max))
ans_file.close()

192

In [111]:
sum = 0
for student in students:
    temp = student[3] + student[4]
    if temp >= 120:
        point = 0
        if student[8]=='A':
            point = 5
        elif student[8]=='B':
            point = 15
        else:
            point = 20
            pass
        sum = sum + (point+student[7])
        pass
    pass

print(sum)

99754

In [115]:
ans_file = open('./data/ans2.txt','a')
ans_file.write("{}\n".format(sum))
ans_file.close()

In [125]:
a = [[1,2],[3,4]]
b = a
c = []
c.append(a[0].copy())
c.append(a[1].copy())
print(a)
print(b)
print(c)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [119]:
b[0][0] = 10
b

[[10, 2], [3, 4]]

In [120]:
a

[[10, 2], [3, 4]]

In [123]:
print(id(a[0]))
print(id(b[0]))
print(id(c[0]))

2417230377800
2417230377800
2417228839432

In [126]:
c[0][0]=100
c

[[100, 2], [3, 4]]

In [127]:
a

[[1, 2], [3, 4]]

In [128]:
len(students)

1000

In [129]:
students[0:10]

[['990001', 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 ['990002', 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A'],
 ['990003', 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'],
 ['990004', 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C'],
 ['990005', 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A'],
 ['990006', 'sj24', 27, 65, 54, 77, 33, 256, 'B', 'A', 'A'],
 ['990007', 'kor2', 33, 85, 98, 60, 66, 342, 'A', 'B', 'A'],
 ['990008', 'vsky', 41, 5, 99, 14, 67, 226, 'C', 'A', 'C'],
 ['990009', 'kimd', 74, 4, 1, 33, 53, 165, 'B', 'C', 'A'],
 ['990010', 'blue', 55, 84, 50, 89, 37, 315, 'A', 'B', 'A']]

In [132]:
a = sorted(students,key=lambda x : (-x[7],x[1]))
a[0:10]

[['990364', 'ywjs', 88, 81, 100, 84, 81, 434, 'B', 'C', 'A'],
 ['990051', 'soor', 94, 98, 85, 64, 75, 416, 'A', 'B', 'A'],
 ['990422', 'itkz', 93, 97, 74, 69, 80, 413, 'C', 'B', 'B', 190],
 ['990039', 'huff', 52, 99, 97, 87, 72, 407, 'A', 'C', 'A'],
 ['990659', 'pete', 100, 98, 77, 44, 85, 404, 'B', 'C', 'C'],
 ['990753', 'firs', 82, 58, 93, 86, 83, 402, 'A', 'C', 'B', 140],
 ['990865', 'hysu', 54, 96, 96, 55, 95, 396, 'C', 'A', 'A'],
 ['990710', 'kleo', 85, 87, 49, 76, 98, 395, 'B', 'C', 'B', 172],
 ['990440', 'gino', 59, 67, 91, 81, 95, 393, 'A', 'B', 'A'],
 ['990622', 'happ', 63, 80, 82, 78, 90, 393, 'C', 'A', 'C']]

In [137]:
answer = a[9]
answer[0]
a[9][0]

'990622'