In [3]:
print("Hello World!")

Hello World!

In [4]:
my_number = 123456789

split_number = str(my_number)

res = 0

for num in split_number:
    res += int(num)

res

45

In [5]:
my_number = 123456

a = my_number % 10 
b = my_number % 10**2 // 10
c = my_number % 10**3 // 10**2
d = my_number % 10**4 // 10**3
e = my_number % 10**5 // 10**4
f = my_number % 10**6 // 10**5

res = a + b + c + d + e + f
print(res)

21

In [6]:
def number_counter(my_number):
    length = len(str(my_number))
    
    res = 0
    
    for i in range(length):
        temp = my_number % 10**(i+1) // 10**(i)
        res += temp
    
    return(res)

In [7]:
res = number_counter(my_number)
print(res)

21

In [8]:
# 1부터 10까지 합을 구하시오

res = 0

for i in range(10):
    res += (i+1)
    
print(res)

55

In [10]:
# 1부터 10까지 2의 배수 합을 구하기

res = 0

for i in range(11):
    if not i % 2:
        res += i
        
print(res)

30

In [24]:
# 구구단 2단을 작성하시오

print("구구단 2단")
for i in range(1, 10):
    temp = 2*i
    print(f"2 * {i} = {temp:-2}")

구구단 2단
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [35]:
# 구구단 작성하기

print("구구단을 외자")

for i in range(2,20):
    print("\n")
    print("구구단 " + str(i) + "단")
    print("\n")
    for j in range(1, 20):
        temp = i * j
        print(f"{i:-2} X {j:-2} = {temp:-3}")

구구단을 외자


구구단 2단


 2 X  1 =   2
 2 X  2 =   4
 2 X  3 =   6
 2 X  4 =   8
 2 X  5 =  10
 2 X  6 =  12
 2 X  7 =  14
 2 X  8 =  16
 2 X  9 =  18
 2 X 10 =  20
 2 X 11 =  22
 2 X 12 =  24
 2 X 13 =  26
 2 X 14 =  28
 2 X 15 =  30
 2 X 16 =  32
 2 X 17 =  34
 2 X 18 =  36
 2 X 19 =  38


구구단 3단


 3 X  1 =   3
 3 X  2 =   6
 3 X  3 =   9
 3 X  4 =  12
 3 X  5 =  15
 3 X  6 =  18
 3 X  7 =  21
 3 X  8 =  24
 3 X  9 =  27
 3 X 10 =  30
 3 X 11 =  33
 3 X 12 =  36
 3 X 13 =  39
 3 X 14 =  42
 3 X 15 =  45
 3 X 16 =  48
 3 X 17 =  51
 3 X 18 =  54
 3 X 19 =  57


구구단 4단


 4 X  1 =   4
 4 X  2 =   8
 4 X  3 =  12
 4 X  4 =  16
 4 X  5 =  20
 4 X  6 =  24
 4 X  7 =  28
 4 X  8 =  32
 4 X  9 =  36
 4 X 10 =  40
 4 X 11 =  44
 4 X 12 =  48
 4 X 13 =  52
 4 X 14 =  56
 4 X 15 =  60
 4 X 16 =  64
 4 X 17 =  68
 4 X 18 =  72
 4 X 19 =  76


구구단 5단


 5 X  1 =   5
 5 X  2 =  10
 5 X  3 =  15
 5 X  4 =  20
 5 X  5 =  25
 5 X  6 =  30
 5 X  7 =  35
 5 X  8 =  40
 5 X  9 =  45
 5 X 10 =  50
 5 X 11 =  55
 5 X 12 =  60
 5 X 13 =  65
 5 X 14 =  70
 5 X 15 =  75
 5 X 16 =  80
 5 X 17 =  85
 5 X 18 =  90
 5 X 19 =  95


구구단 6단


 6 X  1 =   6
 6 X  2 =  12
 6 X  3 =  18
 6 X  4 =  24
 6 X  5 =  30
 6 X  6 =  36
 6 X  7 =  42
 6 X  8 =  48
 6 X  9 =  54
 6 X 10 =  60
 6 X 11 =  66
 6 X 12 =  72
 6 X 13 =  78
 6 X 14 =  84
 6 X 15 =  90
 6 X 16 =  96
 6 X 17 = 102
 6 X 18 = 108
 6 X 19 = 114


구구단 7단


 7 X  1 =   7
 7 X  2 =  14
 7 X  3 =  21
 7 X  4 =  28
 7 X  5 =  35
 7 X  6 =  42
 7 X  7 =  49
 7 X  8 =  56
 7 X  9 =  63
 7 X 10 =  70
 7 X 11 =  77
 7 X 12 =  84
 7 X 13 =  91
 7 X 14 =  98
 7 X 15 = 105
 7 X 16 = 112
 7 X 17 = 119
 7 X 18 = 126
 7 X 19 = 133


구구단 8단


 8 X  1 =   8
 8 X  2 =  16
 8 X  3 =  24
 8 X  4 =  32
 8 X  5 =  40
 8 X  6 =  48
 8 X  7 =  56
 8 X  8 =  64
 8 X  9 =  72
 8 X 10 =  80
 8 X 11 =  88
 8 X 12 =  96
 8 X 13 = 104
 8 X 14 = 112
 8 X 15 = 120
 8 X 16 = 128
 8 X 17 = 136
 8 X 18 = 144
 8 X 19 = 152


구구단 9단


 9 X  1 =   9
 9 X  2 =  18
 9 X  3 =  27
 9 X  4 =  36
 9 X  5 =  45
 9 X  6 =  54
 9 X  7 =  63
 9 X  8 =  72
 9 X  9 =  81
 9 X 10 =  90
 9 X 11 =  99
 9 X 12 = 108
 9 X 13 = 117
 9 X 14 = 126
 9 X 15 = 135
 9 X 16 = 144
 9 X 17 = 153
 9 X 18 = 162
 9 X 19 = 171


구구단 10단


10 X  1 =  10
10 X  2 =  20
10 X  3 =  30
10 X  4 =  40
10 X  5 =  50
10 X  6 =  60
10 X  7 =  70
10 X  8 =  80
10 X  9 =  90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
10 X 13 = 130
10 X 14 = 140
10 X 15 = 150
10 X 16 = 160
10 X 17 = 170
10 X 18 = 180
10 X 19 = 190


구구단 11단


11 X  1 =  11
11 X  2 =  22
11 X  3 =  33
11 X  4 =  44
11 X  5 =  55
11 X  6 =  66
11 X  7 =  77
11 X  8 =  88
11 X  9 =  99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132
11 X 13 = 143
11 X 14 = 154
11 X 15 = 165
11 X 16 = 176
11 X 17 = 187
11 X 18 = 198
11 X 19 = 209


구구단 12단


12 X  1 =  12
12 X  2 =  24
12 X  3 =  36
12 X  4 =  48
12 X  5 =  60
12 X  6 =  72
12 X  7 =  84
12 X  8 =  96
12 X  9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144
12 X 13 = 156
12 X 14 = 168
12 X 15 = 180
12 X 16 = 192
12 X 17 = 204
12 X 18 = 216
12 X 19 = 228


구구단 13단


13 X  1 =  13
13 X  2 =  26
13 X  3 =  39
13 X  4 =  52
13 X  5 =  65
13 X  6 =  78
13 X  7 =  91
13 X  8 = 104
13 X  9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156
13 X 13 = 169
13 X 14 = 182
13 X 15 = 195
13 X 16 = 208
13 X 17 = 221
13 X 18 = 234
13 X 19 = 247


구구단 14단


14 X  1 =  14
14 X  2 =  28
14 X  3 =  42
14 X  4 =  56
14 X  5 =  70
14 X  6 =  84
14 X  7 =  98
14 X  8 = 112
14 X  9 = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182
14 X 14 = 196
14 X 15 = 210
14 X 16 = 224
14 X 17 = 238
14 X 18 = 252
14 X 19 = 266


구구단 15단


15 X  1 =  15
15 X  2 =  30
15 X  3 =  45
15 X  4 =  60
15 X  5 =  75
15 X  6 =  90
15 X  7 = 105
15 X  8 = 120
15 X  9 = 135
15 X 10 = 150
15 X 11 = 165
15 X 12 = 180
15 X 13 = 195
15 X 14 = 210
15 X 15 = 225
15 X 16 = 240
15 X 17 = 255
15 X 18 = 270
15 X 19 = 285


구구단 16단


16 X  1 =  16
16 X  2 =  32
16 X  3 =  48
16 X  4 =  64
16 X  5 =  80
16 X  6 =  96
16 X  7 = 112
16 X  8 = 128
16 X  9 = 144
16 X 10 = 160
16 X 11 = 176
16 X 12 = 192
16 X 13 = 208
16 X 14 = 224
16 X 15 = 240
16 X 16 = 256
16 X 17 = 272
16 X 18 = 288
16 X 19 = 304


구구단 17단


17 X  1 =  17
17 X  2 =  34
17 X  3 =  51
17 X  4 =  68
17 X  5 =  85
17 X  6 = 102
17 X  7 = 119
17 X  8 = 136
17 X  9 = 153
17 X 10 = 170
17 X 11 = 187
17 X 12 = 204
17 X 13 = 221
17 X 14 = 238
17 X 15 = 255
17 X 16 = 272
17 X 17 = 289
17 X 18 = 306
17 X 19 = 323


구구단 18단


18 X  1 =  18
18 X  2 =  36
18 X  3 =  54
18 X  4 =  72
18 X  5 =  90
18 X  6 = 108
18 X  7 = 126
18 X  8 = 144
18 X  9 = 162
18 X 10 = 180
18 X 11 = 198
18 X 12 = 216
18 X 13 = 234
18 X 14 = 252
18 X 15 = 270
18 X 16 = 288
18 X 17 = 306
18 X 18 = 324
18 X 19 = 342


구구단 19단


19 X  1 =  19
19 X  2 =  38
19 X  3 =  57
19 X  4 =  76
19 X  5 =  95
19 X  6 = 114
19 X  7 = 133
19 X  8 = 152
19 X  9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

In [34]:
for i in range(1,10):
    print(i, end = "\t")

1	2	3	4	5	6	7	8	9

In [36]:
def taxi_or_walk(money):
    if money >= 3000:
        print("Taxi")
    else:
        print("Walk")

taxi_or_walk(3000)

Taxi

In [38]:
money = 2000

if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [53]:
def is_leap_year(year):
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        print(f"{year}년은 윤년입니다.")

for i in range(2020, 2051):
    is_leap_year(i)

2020년은 윤년입니다.
2024년은 윤년입니다.
2028년은 윤년입니다.
2032년은 윤년입니다.
2036년은 윤년입니다.
2040년은 윤년입니다.
2044년은 윤년입니다.
2048년은 윤년입니다.

In [59]:
def grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "E"
    else:
        grade = "F"
    return(grade)

for i in range(50,100):
    print(grade(i))

F
F
F
F
F
F
F
F
F
F
E
E
E
E
E
E
E
E
E
E
C
C
C
C
C
C
C
C
C
C
B
B
B
B
B
B
B
B
B
B
A
A
A
A
A
A
A
A
A
A

In [61]:
my_num = 5

for idx in range(2, my_num):
    if my_num % idx == 0:
        print(f"{my_num}는 소수가 아닙니다.")
        break
        
print(f"{my_num}는 소수입니다.")

5는 소수입니다.

In [74]:
def is_sosu(num):
    sosu = True
    for idx in range(2, num):
        if num % idx == 0:
            sosu = False
            break

    if sosu:
        print(f"{num}는 소수입니다.")
    else:
        print(f"{num}는 소수가 아닙니다.")
    
for i in range(2,100):
    is_sosu(i)

2는 소수입니다.
3는 소수입니다.
4는 소수가 아닙니다.
5는 소수입니다.
6는 소수가 아닙니다.
7는 소수입니다.
8는 소수가 아닙니다.
9는 소수가 아닙니다.
10는 소수가 아닙니다.
11는 소수입니다.
12는 소수가 아닙니다.
13는 소수입니다.
14는 소수가 아닙니다.
15는 소수가 아닙니다.
16는 소수가 아닙니다.
17는 소수입니다.
18는 소수가 아닙니다.
19는 소수입니다.
20는 소수가 아닙니다.
21는 소수가 아닙니다.
22는 소수가 아닙니다.
23는 소수입니다.
24는 소수가 아닙니다.
25는 소수가 아닙니다.
26는 소수가 아닙니다.
27는 소수가 아닙니다.
28는 소수가 아닙니다.
29는 소수입니다.
30는 소수가 아닙니다.
31는 소수입니다.
32는 소수가 아닙니다.
33는 소수가 아닙니다.
34는 소수가 아닙니다.
35는 소수가 아닙니다.
36는 소수가 아닙니다.
37는 소수입니다.
38는 소수가 아닙니다.
39는 소수가 아닙니다.
40는 소수가 아닙니다.
41는 소수입니다.
42는 소수가 아닙니다.
43는 소수입니다.
44는 소수가 아닙니다.
45는 소수가 아닙니다.
46는 소수가 아닙니다.
47는 소수입니다.
48는 소수가 아닙니다.
49는 소수가 아닙니다.
50는 소수가 아닙니다.
51는 소수가 아닙니다.
52는 소수가 아닙니다.
53는 소수입니다.
54는 소수가 아닙니다.
55는 소수가 아닙니다.
56는 소수가 아닙니다.
57는 소수가 아닙니다.
58는 소수가 아닙니다.
59는 소수입니다.
60는 소수가 아닙니다.
61는 소수입니다.
62는 소수가 아닙니다.
63는 소수가 아닙니다.
64는 소수가 아닙니다.
65는 소수가 아닙니다.
66는 소수가 아닙니다.
67는 소수입니다.
68는 소수가 아닙니다.
69는 소수가 아닙니다.
70는 소수가 아닙니다.
71는 소수입니다.
72는 소수가 아닙니다.
73는 소수입니다.
74는 소수가 아닙니다.
75는 소수가 아닙니다.
76는 소수가 아닙니다.
77는 소수가 아닙니다.
78는 소수가 아닙니다.
79는 소수입니다.
80는 소수가 아닙니다.
81는 소수가 아닙니다.
82는 소수가 아닙니다.
83는 소수입니다.
84는 소수가 아닙니다.
85는 소수가 아닙니다.
86는 소수가 아닙니다.
87는 소수가 아닙니다.
88는 소수가 아닙니다.
89는 소수입니다.
90는 소수가 아닙니다.
91는 소수가 아닙니다.
92는 소수가 아닙니다.
93는 소수가 아닙니다.
94는 소수가 아닙니다.
95는 소수가 아닙니다.
96는 소수가 아닙니다.
97는 소수입니다.
98는 소수가 아닙니다.
99는 소수가 아닙니다.

In [101]:
import numpy as np

def is_sosu2(num):
    holder = np.array(list(range(2, num)))
    res = num / holder
    
    if sum(list(map(int, res)) == res):
#         print("소수가 아니다")
        pass
    else:
        print(f"{num}은 소수입니다.")

        
for i in range(100):
    is_sosu2(i)

0은 소수입니다.
1은 소수입니다.
2은 소수입니다.
3은 소수입니다.
5은 소수입니다.
7은 소수입니다.
11은 소수입니다.
13은 소수입니다.
17은 소수입니다.
19은 소수입니다.
23은 소수입니다.
29은 소수입니다.
31은 소수입니다.
37은 소수입니다.
41은 소수입니다.
43은 소수입니다.
47은 소수입니다.
53은 소수입니다.
59은 소수입니다.
61은 소수입니다.
67은 소수입니다.
71은 소수입니다.
73은 소수입니다.
79은 소수입니다.
83은 소수입니다.
89은 소수입니다.
97은 소수입니다.

In [98]:
num = 5

holder = np.array(list(range(2, num)))
res = num / holder

print(res)

[2.5        1.66666667 1.25      ]

0

In [97]:
res = list(map(int, res))
print(res)

[2, 1, 1]