In [1]:
import pandas as pd

df1 = pd.DataFrame({'a':[1,2,3,4], 'b':[10,11,12,13], 'c':[30,31,32,33]})
df1

   a   b   c
0  1  10  30
1  2  11  31
2  3  12  32
3  4  13  33

## map 함수

- map 함수는 series 타입에 적용할 수 있음

In [2]:
f1 = lambda x: '%03d' %x
list(map(f1, df1['b']))

['010', '011', '012', '013']

In [3]:
df1['b'].map(f1)

0    010
1    011
2    012
3    013
Name: b, dtype: object

## apply 함수

- apply 함수는 dataframe 형태에 적용이 가능
- axis 인자를 행 (0), 열 (1) 로 줄 수 있음

In [4]:
f2 = lambda x: x.max() - x.min()

# 행에 적용
df1.apply(f2, 0)

a    3
b    3
c    3
dtype: int64

In [6]:
# 열에 적용
df1.apply(f2, 1)

0    29
1    29
2    29
3    29
dtype: int64

In [8]:
print('Row')
print(df1.apply(sum, 0))

print()
print('Col')
print(df1.apply(sum, 1))

Row
a     10
b     46
c    126
dtype: int64

Col
0    41
1    44
2    47
3    50
dtype: int64

In [12]:
f3 = lambda x: pd.Series([x.min(), x.max()], index=['min', 'max'])
df1.apply(f3, 0)

     a   b   c
min  1  10  30
max  4  13  33

In [13]:
df1.apply(f3, 1)

   min  max
0    1   30
1    2   31
2    3   32
3    4   33

## applymap 함수

- dataframe 타입에 적용 가능
- 원소별 접근

In [14]:
f4 = lambda x: '%03d' %x
df1.applymap(f4)

     a    b    c
0  001  010  030
1  002  011  031
2  003  012  032
3  004  013  033