In [3]:
import pandas as pd

dir_data = '/Users/jonghyunlee/Downloads/doit_pandas-master/data/'

df = pd.read_csv(dir_data + 'gapminder.tsv', sep = '\t')

In [10]:
print(df.head())
print()
print(df.tail())
print()
print(df.shape)
print()
print(df.columns)
print()
print(df.dtypes)
print()
print(df.info())
print()
print(type(df))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

(1704, 6)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

<class 'pandas.core.frame.DataFrame'>

In [9]:
country_df = df['country']
print(country_df.head())
print()
print(type(country_df))

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

<class 'pandas.core.series.Series'>

In [13]:
subset = df[['country', 'continent', 'year']]
print(subset.head())
print()
print(type(subset))

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

<class 'pandas.core.frame.DataFrame'>

# loc / iloc 함수

loc : 인덱스를 기준으로 행 데이터 추출

iloc: 행 번호를 기준으로 행 데이터 추출

In [14]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [15]:
print(df.loc[0:5])

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [16]:
print(df.loc[0:100:5])

         country continent  year  lifeExp       pop     gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333    779.445314
5    Afghanistan      Asia  1977   38.438  14880372    786.113360
10   Afghanistan      Asia  2002   42.129  25268405    726.734055
15       Albania    Europe  1967   66.220   1984060   2760.196931
20       Albania    Europe  1992   71.581   3326498   2497.437901
25       Algeria    Africa  1957   45.685  10270856   3013.976023
30       Algeria    Africa  1982   61.368  20033753   5745.160213
35       Algeria    Africa  2007   72.301  33333216   6223.367465
40        Angola    Africa  1972   37.928   5894858   5473.288005
45        Angola    Africa  1997   40.963   9875024   2277.140884
50     Argentina  Americas  1962   65.142  21283783   7133.166023
55     Argentina  Americas  1987   70.774  31620918   9139.671389
60     Australia   Oceania  1952   69.120   8691212  10039.595640
65     Australia   Oceania  1977   73.490  14074100  18334.197510
70     Australia   Oceania  2002   80.370  19546792  30687.754730
75       Austria    Europe  1967   70.140   7376998  12834.602400
80       Austria    Europe  1992   76.040   7914969  27042.018680
85       Bahrain      Asia  1957   53.832    138655  11635.799450
90       Bahrain      Asia  1982   69.052    377967  19211.147310
95       Bahrain      Asia  2007   75.635    708573  29796.048340
100   Bangladesh      Asia  1972   45.252  70759295    630.233627

In [18]:
print(df.loc[len(df) - 1])
print()
print(df.tail(n=1))

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [20]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [24]:
print(df.iloc[len(df) - 1])
print()
print(df.iloc[-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [31]:
print(df.iloc[[1], [1,2,3]])

  continent  year  lifeExp
1      Asia  1957   30.332

In [36]:
print(df.iloc[[1], range(3)])
print()
print(df.iloc[[1], range(2,4)])

       country continent  year
1  Afghanistan      Asia  1957

   year  lifeExp
1  1957   30.332

In [38]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [45]:
# print(df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean())
multi_group_by = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean()
print(multi_group_by)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [54]:
# df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].filter(lambda x: x['continent'] == "Africa")
df[df['continent'] == "Africa"].groupby(['year'])[['lifeExp', 'gdpPercap']].mean()

        lifeExp    gdpPercap
year
1952  39.135500  1252.572466
1957  41.266346  1385.236062
1962  43.319442  1598.078825
1967  45.334538  2050.363801
1972  47.450942  2339.615674
1977  49.580423  2585.938508
1982  51.592865  2481.592960
1987  53.344788  2282.668991
1992  53.629577  2281.810333
1997  53.598269  2378.759555
2002  53.325231  2599.385159
2007  54.806038  3089.032605

In [56]:
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline