In [1]:
import pandas as pd

data = pd.read_excel("exam.xlsx")
data.head()

,채널,FACT,제품명,제조사,브랜드,서브 브랜드,포장형태,면 종류,JAN17,FEB17,...,MAR19,APR19,MAY19,JUN19,JUL19,AUG19,SEP19,OCT19,NOV19,DEC19
0,전국,판매액,A 제조사 추추라면 노브랜드 봉지,A 제조사,추추라면,노브랜드,봉지,유탕면,11744.7,10788.2,...,10449.9,9024.43,9563.04,9092.26,9435.4,9724.52,9438.88,10799.2,9213.99,9937.66
1,전국,판매액,A 제조사 짜장라면 노브랜드 봉지,A 제조사,짜장라면,노브랜드,봉지,유탕면,4380.98,4733.58,...,6850.06,7048.65,5855.35,6137.5,6619.79,6751.39,6562.12,6201.79,6242.24,5890.04
2,전국,판매액,A 제조사 맛라면 노브랜드 봉지,A 제조사,맛라면,노브랜드,봉지,유탕면,4949.5,4626.35,...,4269.52,3835.04,3833.66,4651.44,3678.67,4318.06,4812.97,4486.84,4476.71,5384.01
3,전국,판매액,C 제조사 강라면 매운맛 봉지,C 제조사,강라면,매운맛,봉지,유탕면,4286.81,3925.16,...,4595.98,4578.35,4295.45,4061.11,4172.93,4274.73,4072.87,4071.65,4018.61,4525.94
4,전국,판매액,A 제조사 우리라면 얼큰한맛 봉지,A 제조사,우리라면,얼큰한맛,봉지,유탕면,4883.79,4012.39,...,3208.46,2506.36,2967.5,3123.96,3127.75,3309.08,3326.33,3519.37,3863.74,3817.03

In [2]:
data.loc[:, "JAN17":"DEC19"].fillna(0).replace("ERR", 0).apply(np.sum, axis=1)

NameError: name 'np' is not defined

In [ ]:
import numpy as np

data['합계'] = 0
data['합계'] = data.loc[:, "JAN17":"DEC19"].fillna(0).replace("ERR", 0).apply(np.sum, axis=1)
data['합계'].head()

In [ ]:
data['채널'].unique()

In [ ]:
data['FACT'].unique()

In [ ]:
# 판매액 
sales_rate_idx = data['FACT'] == '판매액'

# 판매량
sales_amount_idx = data['FACT'] == '판매량 (UNIT)'

In [ ]:
# 채널별 
sales_rate = data[sales_rate_idx]['합계'].groupby(data['채널'])
print()
print("="*10)
print("채널별 판매액")
print("="*10)
print(sales_rate.sum())

sales_amount = data[sales_amount_idx]['합계'].groupby(data['채널'])
print()
print("="*10)
print("채널별 판매량")
print("="*10)
print(sales_amount.sum())

In [ ]:
# 채널별 제조사별
sales_rate = data[sales_rate_idx]['합계'].groupby([data['채널'], data['제조사']])
print()
print("="*10)
print("채널별 판매액")
print("="*10)
print(sales_rate.sum())

sales_amount = data[sales_amount_idx]['합계'].groupby([data['채널'], data['제조사']])
print()
print("="*10)
print("채널별 판매량")
print("="*10)
print(sales_amount.sum())